body,
html {
    height: 100%;    
}

.bg {
    background-image: url("../images/photo-of-guitar-headstock-1201112_85.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#form {
    background-color: rgba(255, 255, 255, 0.2);
}

span {
    
}

.fa-star {
    color: yellow;
}