body,
html {
    background-image: url("../images/photo-of-guitar-headstock-1201112_85.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;    
}

#form {
    background-color: rgba(255, 255, 255, 0.2);
}

span {
    
}

.fa-star {
    color: yellow;
}